* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #484848;
  flex-direction: column;
}

.table-data {
  width: 30px;
  height: 30px;
  text-align: center;
  position: relative;
  font-size: 20px;
  background: #b9b9b9;
  font-family: sans-serif;
  font-weight: bold;
  border: 1px solid #f1e6e6
}

.cell {
  width: 29px;
  height: 29px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 22px;
  background: #feb85e;
}

.status, .settings {
  width: 300px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings {
  margin-bottom: 10px;
}

.bomb-counter, .time-counter {
  color: red;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.game-result {
  color: yellow;
  font-size: 33px;
}

.restart, .size, .level {
  font-family: sans-serif;
  border: 1px solid #feb85e;;
  color: #feb85e;
  background: transparent;
  padding: 5px;
  cursor: pointer;
}

.size, .level {
  -moz-appearance: none;
}

.size option, .level option {
  color: #000;
}